.sign-up-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #bebebe;
    h2 {
        margin: 10px 0;
    }
}
.form{
    background-color: #a9a9a90f;
}